@model JobRoleViewModel

<div class="custom_table table-responsive">
         <table id="tbl_role" class="table table-bordered">
             <thead>
               <tr>
                  <th>Role</th>
                  <th>Position</th>
                  <th>Compensation</th>
                  <th>Job Description</th>
               </tr>
            </thead>
            <tbody>
                @if(Model.CiiteriasCreated!=null && Model.CiiteriasCreated.Count > 0)
                    {
                        @foreach(var role in Model.CiiteriasCreated)
                        {
                            <tr>
                            <td>@role.JobName</td>
                            <td>@role.Position</td>
                            <td>@role.Compensation</td>
                            <td>@role.JobDescription</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <td colspan = "4">No criterias created</td>
                    }

             </tbody>
         </table>
      </div>