@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CandidateViewModel
<head>
		<link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
	</head>
	
<div class="c_eval">
<div id="bg">
<img src="../Images/dem2.jpg" alt="">
</div>
   <div class="col-md-12">
       <div class="eval_head">
      <h2>Role Criteria Entry</h2>
      </div>
   </div>
      <div class="candidate_evaluation role_cri">
         <form id="role_criteria" class="form-horizontal" action="/" method="POST">
		    <div class="row">
		    <div class="col-md-6">
            <div class="form-group">
               <label class="control-label" for="role">Job Role:</label>
               <select class="form-control" id="role" name="job_role">
                  <option value="">Select Job Role</option>
                  <option value="">Vp</option>
                  <option value="">Project Manager</option>
                  <option value="">Tech Lead</option>
                  <option value="">4</option>
               </select>
            </div>
			</div>
		    <div class="col-md-6">
            <div class="form-group">
               <label class="control-label" for="position">Position:</label>
               <input type="text" class="form-control" id="position" name="role_position" placeholder="Enter Position">
            </div>
			</div>
			</div>
			<div class="row">
		    <div class="col-md-12">
            <div class="form-group">
               <label class="control-label" for="Compensation">Compensation(In Euros):</label>
               <input type="text" class="form-control" pattern="[0-9]*" id="compensation" name="compensation" placeholder="Enter Compensations">
            </div>
			</div>
			</div>
					    <div class="row">
		    <div class="col-md-12">
            <div class="form-group">
               <label class="control-label" for="job_decription">Job Description:</label>
               <textarea name="job_decription" id="jd" rows="10" columns="150" class="form-control"></textarea>
            </div>
			</div>
			</div>
			<div class="row">
		    <div class="col-md-12">
            <div class="form-group">
               <label class="control-label" asp-for="@Model.InterviewSchedule" for="closing_date">Closing Date:</label>
               	<div class='input-group date' ">
					@Html.EditorFor(m => m.InterviewSchedule, new {@class = "form-control datepicker" , @id = "datepicker1"})
				</div>
            </div>
			</div>
			</div>
            <div class="sub-btn">
               <button type="submit" id='submitButton' class="btn btn-primary">Create</button>
            </div>
         </form>
      </div>
      <div class="custom_table">
         <table class="table table-bordered">
            <thead>
               <tr>
                  <th>Role</th>
                  <th>Position</th>
                  <th>Compensations</th>
                  <th>Job Description</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Software Developer</td>
                  <td>Senior</td>
                  <td>tbd</td>
                  <td>This is a dummy content</td>
                  <td>Passed</td>
               </tr>
            </tbody>
         </table>
      </div>
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
$(document).ready(function() {
    $("#role_criteria").validate({
        rules: {
            role_position: 'required',
            job_role: 'required',
            compensation: 'required',
            job_decription: 'required',
            closing_date: 'required'
        },
        messages: {
            role_position: '*Role Position is Mandatory',
            job_role: '*Job Role is Mandatory',
            compensation: '*Compensation is Mandatory',
            job_decription: '*Job Description is Mandatory',
            closing_date: '*Closing Date is required'
        },
    });
});
  </script>