body {
}
.c_profile h2 {
    text-align: left;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    display: inline-block;
    font-size: 20px;
    -webkit-box-shadow: 5px 5px 15px 3px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.candidate_evaluation { 
    margin-top: 30px;
}
.candidate_evaluation label {
    color:#fff;
}
    .candidate_evaluation p {
        color: #fff;
    }

.c_eval {
    float: left;
    width: 100%;
    background: #EDEBED url(../Images/dem2.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    padding: 15px;
}

    .c_eval h2 {
        text-align: left;
        background: #000;
        border: 1px solid #fff;
        color: #fff;
        padding: 15px;
        display: inline-block;
        font-size: 20px;
        -webkit-box-shadow: 5px 5px 15px 3px #000000;
        box-shadow: 5px 5px 15px 5px #000000;
    }

.candidate_evaluation .form-group {
    margin-bottom: 10px;
}

.candidate_evaluation .form-control {
    height: 40px !important;
}

.candidate_profile .form-group {
    margin-bottom: 10px;
}

.candidate_profile .form-control {
    height: 40px !important;
}

.sub-btn {
    text-align: center;
    margin: 10px 0px;
}

    .sub-btn button {
        background: #000;
        border: 1px solid #fff;
        color: #fff;
        padding: 5px 15px;
        display: inline-block;
        font-size: 18px;
        -webkit-box-shadow: 5px 5px 15px 5px #000000;
        box-shadow: 5px 5px 15px 3px #000000;
        transition: all 0.3s ease-in-out 0s;
    }

.custom_table th {
    color: #fff;
    font-size: 20px;
    background:rgba(0,0,0,0.7);
}

.custom_table td {
    color: #fff;
    background: rgba(0,0,0,0.6);
}

.custom_table textarea {
    width: 100%;
    color: #000;
}

.custom_table select {
    color: #000;
    width: 100%;
}

input.form-control {
    width: auto;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {


    .c_eval h2 {
        padding: 10px;
        font-size: 18px;
    }

    .candidate_evaluation {
        padding: 0 20px;
    }
}