body {
}
.c_profile h2 {
    text-align: left;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    display: inline-block;
    font-size: 20px;
    -webkit-box-shadow: 5px 5px 15px 3px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}
#logoutForm button {
    padding: 10px !important;
}
.navbar {
    margin-bottom: 0px !important;
    -webkit-box-shadow: 5px 5px 15px 3px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    transition: all 0.3s ease-in-out 0s;
    text-decoration: none;
    padding: 10px !important;
    font-family: var(--bs-body-font-family) !important;
    font-size: 15px;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: #03d6d2 !important;
    }

.app_logo {
    padding-bottom: 0px;
}
.candidate_evaluation {
    margin: 30px 0px;
    background: rgba(37,41,88,0.9);
    padding: 15px 15px 10px 15px;
    display: inline-block;
    width: 450px;
}
#candidate_pr select {
    color:#000 !important;
}
.candidate_evaluation label {
    color: #fff;
}
    .candidate_evaluation p {
        color: #fff;
    }

.c_eval {
    float: left;
    width: 100%;
    padding: 15px;
    margin-bottom: 50px;
}

    .c_eval h2 {
        text-align: left;
        background: #000;
        border: 1px solid #fff;
        color: #fff;
        padding: 15px;
        display: inline-block;
        font-size: 20px;
        -webkit-box-shadow: 5px 5px 15px 3px #000000;
        box-shadow: 5px 5px 15px 5px #000000;
    }
#candidate_pr {
    float: left;
    width: 100%;
    padding-bottom: 30px;
}
/*  close button css     */

.can_close .alert {
    padding: 10px;
}
.can_close .close {
    float: right;
    text-decoration: none;
    font-size: 20px;
}
.error_msg {
    display: flex;
    margin: 0 auto;
    width: 300px;
}
.error_msg a{
    float: right;
    text-decoration: none;
    margin-right: -30px;
}


/*  ends     */

.candidate_evaluation .form-group {
    margin-bottom: 10px;
}

.candidate_evaluation .form-control {
    height: 40px !important;
}

.candidate_profile .form-group {
    margin-bottom: 10px;
}

.candidate_profile .form-control {
    height: 40px !important;
}

.sub-btn {
    text-align: center;
    margin: 10px 0px;
}

    .sub-btn button {
        background: #000;
        border: 1px solid #fff;
        color: #fff;
        padding: 5px 15px;
        display: inline-block;
        font-size: 18px;
        -webkit-box-shadow: 5px 5px 15px 5px #000000;
        box-shadow: 5px 5px 15px 3px #000000;
        transition: all 0.3s ease-in-out 0s;
    }

.custom_table th {
    color: #fff;
    background: rgba(0,0,0,0.7);
    border-top: 1px solid #fff !important
}

.custom_table td {
    color: #fff;
    background: rgba(0,0,0,0.6);
    border: 1px solid #fff;
}
#txtar {
    height: 150px !important;
}
#candidate_pr textarea {
    height: 150px !important;
} 
.custom_table textarea {
    width: 100%;
    color: #000;
}

.custom_table select {
    color: #fff;
    width: 100%;
}
.custom_table select option {
    color: #000;
}

input.form-control {
    width: auto;
}
.candidate_evaluation label.error {  
    color: red;
    font-size: 13px; 
    font-weight: bold;
}


 /*interviewer table CSS */

.interviewer_table {
    padding-top: 30px;
}
    .interviewer_table th {
        color: #fff;
        text-align: center !important;
    }
    .interviewer_table td {
        color: #fff;
    }
    .interviewer_table .table {
        background: rgba(0,0,0,0.7);
    }

/*    Ends     */

/*    role crieria css starts             */


.role_cri {
    padding: 30px 30px 0px 30px;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
}
.role_cri .date input {
    width: 100%;
    height: 40px;
}

    .role_cri #jd {
        height: 150px !important;
    }
    .role_cri input.form-control {
        width:100% !important;
    }
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;    
}
.navbar-brand {
    height: inherit !important;
    padding: 0px 10px !important;
}
#bg {
    position: fixed;
    top: -50%;    
    left: -50%;
    width: 200%;
    height: 200%;
    z-index:-5;
}

    #bg img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }

/*     ends            */


/*    menu dropdown css starts             */






/*     ends            */


/*    candidate evaluation css starts             */

.checkbox-inline input {
    margin-right:5px;
}
.eval_cri {
    max-width: 500px;
    background: rgba(37,41,88,0.8);
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
}
.eval_head {
    text-align: center;
    margin-bottom: 15px;
}

    .eval_cri #jd {
        height: 150px !important;
    }

    .eval_cri input.form-control {
        width: 100% !important;
    }



/*     ends            */


/*     Reporting starts            */

.reporting {
}

    .reporting h3 {
        color: #fff;
        font-size: 22px;
    }

.reporting_wrap {
    background: rgba(37,41,88,0.8);
    text-align: center;
    margin: 0 15px;
    margin-top: 25px; 
    padding: 15px;
}
.reporting .candidates {
    display:inline-block;
}
.reporting .candidates p {
    color: #fff;
    font-size: 20px;
}
    .reporting .candidates p span {
        border: 1px solid #fff;
        border-radius: 25px;
        padding: 5px 8px;
        font-size: 22px;
    }

.reporting table {
    background: rgba(0,0,0,0.7)
}

.reporting th {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.reporting td {
    color: #fff;
}


/*     ends            */

  

/*     priority starts            */

.range_wrap {
    padding: 0px 10px 50px 10px;
}

#nlVal {
    display: inline-block;
}

.sliders {
    width: 100%;
    height: 10px !important;
    background: #444 !important;
    border-radius: 50px !important;
}

    .sliders label {
        position: absolute;
        width: 20px;
        margin-top: 20px;
        margin-left: -2px;
        text-align: left;
        font-size: 13px;
    }

        .sliders label::before {
            background-color: #ccc;
            content: "";
            height: 8px;
            left: 2px;
            position: absolute;
            top: -12px;
            width: 1px;
        }
#slider2 {
    width: 100%;
    height: 10px;
    background: #444;
    border-radius: 50px;
}

    #slider2 label {
        position: absolute;
        width: 20px;
        margin-top: 20px;
        margin-left: -2px;
        text-align: left;
        font-size: 13px;
    }

        #slider2 label::before {
            background-color: #ccc;
            content: "";
            height: 8px;
            left: 2px;
            position: absolute;
            top: -12px;
            width: 1px;
        }


.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 0px;
    background: #00c7d7;
    width: 20px;
    height: 20px;
    top: -5px;
    cursor: grab;
    transition: all .2s linear;
}

    .ui-slider-handle.ui-state-default.ui-corner-all::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 9px;
        background-color: #fff;
        left: 10px;
        top: 5px;
    }

    .ui-slider-handle.ui-state-default.ui-corner-all::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 9px;
        background-color: #fff;
        left: 6px;
        top: 5px;
    }


.ui-slider-handle.ui-state-active,
.ui-slider-handle.ui-state-hover,
.ui-slider-handle.ui-state-focus {
    border: none;
    outline: 0;
}

.range_slider {
    margin: 0 auto;
    background: rgba(255,255,255,0.8);
    padding: 25px 0px 10px 0px;
    margin-top: 50px;
}

.range h3 {
    color: #000;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    float: right;
    font-weight: bold;
}

.range h4 {
    color: #000;
    display: inline-block;
    float: right;
    font-size: 15px;
    margin: 0;
    float: left;
    font-weight: bold;
}



/*     ends            */
.dropdown-item {
    text-decoration: none !important;
    font-size: 16px;
}
/*     Homepage CSS starts           */
.homepage {
    overflow-x: hidden;
}

    .homepage p, h2, h3, h4, li {
        color: #fff;
    }

    .homepage .left_content p {
        text-align: center;
        font-size: 18px;
    }

    .homepage .left_content {
        background: rgba(0,0,0,0.7);
        margin: 15px;
        padding: 30px;
        position: relative;
    }

        .homepage .left_content:after {
            content: '';
            height: 85%;
            width: 3px;
            position: absolute;
            right: -25px;
            top: 30px;
            background-color: #fff;
        }

        .homepage .left_content ul {
            max-width: 430px;
            margin: 0 auto;
        }

            .homepage .left_content ul li {
                font-size: 18px;
            }

        .homepage .left_content h1 {
            text-align: center;
            color: #fff;
            padding: 20px 0px 30px 0px;
        }

        .homepage .left_content h2 {
            text-align: center;
            padding-bottom: 10px;
            font-weight: bold;
        }
.login-logo {
    text-align: center;
    background: rgba(0,0,0,0.9);
    padding: 15px 20px 25px 20px;
    margin-bottom: 50px;
}

        .homepage .left_content .home_panel1 {
            text-align: center;
            background: #808080;
            padding: 30px;
            font-size: 12px;
        }

            .homepage .left_content .home_panel1 p {
                font-size: 12px;
            }

        .homepage .left_content .home_panel2 p {
            font-size: 12px;
        }

        .homepage .left_content .home_panel3 p {
            font-size: 12px;
        }
        .homepage .left_content .home_panel1 h4 {
            font-size: 18px;
        }

        .homepage .left_content .home_panel2 h4 {
            font-size: 18px;
        }

        .homepage .left_content .home_panel3 h4 {
            font-size: 18px;
        }

        .homepage .left_content .home_panel2 {
            text-align: center;
            background: #0000FF;
            padding: 30px;
            font-size: 12px;
        }

        .homepage .left_content .home_panel3 {
            text-align: center;
            background: #00FF00;
            padding: 30px;
            font-size: 12px;
        }

    .homepage .right_content {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }

        .homepage .right_content a {
            text-decoration: none;
            color: #000;
            background: #fff;
            padding: 15px 30px;
            font-size: 24px;
            font-weight: bold;
            transition: all 0.3s ease-in-out 0s;
        }

            .homepage .right_content a:hover {
                color: #fff;
                background: #000;
            }

        .homepage .right_content p {
            color: #fff;
            margin: 30px 0px;
            font-size: 24px;
        }

.home_closing p {
    color: #fff;
    text-align: center;
    font-size: 18px;
}



/*     ends            */



/* global score CSS starts*/
.final_result .custom_table {
    margin-top: 15px;
    text-align: center;
    background:rgba(0,0,0,0.7);
}
#tbl_score {
    padding:30px;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #fff !important;
}
    #tbl_score .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        color: #fff !important;
    }
    #tbl_score .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #fff !important;
    }
#tbl_score_wrapper select{
    color:#fff;
   }
#tbl_score_paginate a {
    color:#fff !important;
}
table.dataTable.no-footer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
}

#tbl_score_wrapper select option {
    color: #000;
}
.dataTables_length label {
    margin:15px;
}
.dataTables_filter label {
    margin:15px;
}
.dataTables_info {
    margin-left:15px;
}
.footer {
    float:left;
    width:100%;
    color: #fff !important;
    clear: both;
    position: relative !important;
    background: rgba(0,0,0,0.7);
    line-height: 45px !important;
}
#tbl_Candidates {
    border: 1px solid #fff;
    padding: 30px;
}
#tbl_Candidates td{
    text-align:center;
}
    .custom_table {
        background: rgba(0,0,0,0.7);
    }
.dataTables_wrapper .dataTables_filter input {
    color: #fff;
}
#tbl_eval {
    padding:30px;
}
#tbl_role {
    padding: 30px;
}
#tbl_eval_paginate a {
    color: #fff !important;
}
#tbl_role_paginate a {
    color: #fff !important;
}
#tbl_Candidates_paginate a {
    color: #fff !important;
}
#tbl_Candidates a {
    color: #fff;
    font-size: 18px;
}
/* ends    */
.field-validation-error span {
    color: red;
    font-weight: bold;
}


@media only screen and (min-width: 0px) and (max-width: 767px) {
    .c_eval h2 {
        padding: 10px;
        font-size: 18px;
    }

    .candidate_evaluation {
        padding: 30px;
        max-width: 100%;
    }
    .c_eval {
        padding: 15px 0px;
    }
    .custom_table th {
        font-size: 16px;
    }
    .dropdown-item {
        color:#fff;
    }
 
}
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .homepage .home_panel1 h3 {
        font-size: 16px;
    }

    .homepage .home_panel2 h3 {
        font-size: 16px;
    }

    .homepage .home_panel3 h3 {
        font-size: 16px;
    }

    .homepage .home_panel1 h2 {
        font-size: 18px;
        padding-bottom: 0px;
    }

    .homepage .home_panel2 h2 {
        font-size: 18px;
        padding-bottom: 0px;
    }

    .homepage .home_panel3 h2 {
        font-size: 18px;
        padding-bottom: 0px;
    }

    .homepage .right_content {
        margin-top: 30px;
    }
}