body {
}
.c_profile h2 {
    text-align: left;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    display: inline-block;
    font-size: 20px;
    -webkit-box-shadow: 5px 5px 15px 3px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.candidate_evaluation { 
    margin-top: 30px;
}
.candidate_evaluation label {
    color:#fff;
}
    .candidate_evaluation p {
        color: #fff;
    }

.c_eval {
    float: left;
    width: 100%;
    padding: 15px;
}

    .c_eval h2 {
        text-align: left;
        background: #000;
        border: 1px solid #fff;
        color: #fff;
        padding: 15px;
        display: inline-block;
        font-size: 20px;
        -webkit-box-shadow: 5px 5px 15px 3px #000000;
        box-shadow: 5px 5px 15px 5px #000000;
    }

.candidate_evaluation .form-group {
    margin-bottom: 10px;
}

.candidate_evaluation .form-control {
    height: 40px !important;
}

.candidate_profile .form-group {
    margin-bottom: 10px;
}

.candidate_profile .form-control {
    height: 40px !important;
}

.sub-btn {
    text-align: center;
    margin: 10px 0px;
}

    .sub-btn button {
        background: #000;
        border: 1px solid #fff;
        color: #fff;
        padding: 5px 15px;
        display: inline-block;
        font-size: 18px;
        -webkit-box-shadow: 5px 5px 15px 5px #000000;
        box-shadow: 5px 5px 15px 3px #000000;
        transition: all 0.3s ease-in-out 0s;
    }

.custom_table th {
    color: #fff;
    font-size: 20px;
    background:rgba(0,0,0,0.7);
}

.custom_table td {
    color: #fff;
    background: rgba(0,0,0,0.6);
}

.custom_table textarea {
    width: 100%;
    color: #000;
}

.custom_table select {
    color: #000;
    width: 100%;
}

input.form-control {
    width: auto;
}

 /*interviewer table CSS */

.interviewer_table {
    padding-top: 30px;
}
.interviewer_table th{
    color:#fff;
}
    .interviewer_table td {
        color: #fff;
    }


/*    Ends     */

/*    role crieria css starts             */


.role_cri {
    padding: 0px 15px;
    max-width:400px;
}

    .role_cri #jd {
        height: 150px !important;
    }
    .role_cri input.form-control {
        width:100% !important;
    }

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index:-5;
}

    #bg img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }

/*     ends            */

/*    candidate evaluation css starts             */

.checkbox-inline input {
    margin-right:5px;
}
.eval_cri {
    padding: 0px 15px;
    max-width: 500px;
}

    .eval_cri #jd {
        height: 150px !important;
    }

    .eval_cri input.form-control {
        width: 100% !important;
    }



/*     ends            */


/*     Reporting starts            */

.reporting {
}

    .reporting h3 {
        color: #fff;
        font-size: 22px;
    }

.reporting_wrap {
    background: rgba(37,41,88,0.8);
    text-align: center;
    margin: 0 15px;
    margin-top: 25px; 
    padding: 15px;
}
.reporting .candidates {
    display:inline-block;
}
.reporting .candidates p {
    color: #fff;
    font-size: 20px;
}
    .reporting .candidates p span {
        border: 1px solid #fff;
        border-radius: 25px;
        padding: 5px 8px;
        font-size: 22px;
    }

.reporting table {
    background: rgba(0,0,0,0.7)
}

.reporting th {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.reporting td {
    color: #fff;
}


/*     ends            */

/* final result CSS starts*/

.final_result .custom_table {   
    margin-top:15px;
    text-align:center;
}


/* ends    */


@media only screen and (min-width: 0px) and (max-width: 767px) {
    .c_eval h2 {
        padding: 10px;
        font-size: 18px;
    }

    .candidate_evaluation {
        padding: 0 20px;
    }
}