
@model CriteriaViewModel

<div class="custom_table table-responsive">
         <table id="tbl_eval" class="table ">
             <thead>
               <tr>
                  <th>Role</th>
                  <th>SubCriteria</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
                @if(Model.CriteriasCreated!=null && Model.CriteriasCreated.Count > 0)
                    {
                        @foreach(var role in Model.CriteriasCreated)
                        {
                            <tr>
                            <td>@role.JobName</td>
                            <td>@role.CriteriaName</td>
                            <td>@role.CriteriaDescription</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <td colspan = "3">No subcriterias created</td>
                    }
             </tbody>
         </table>
      </div>



      @section scripts
{

<script type="text/javascript">

    $(document).ready(function(){
        initialiseDataTable();
    })
    function initialiseDataTable() {
        $('#tbl_eval').DataTable({
            responsive: true
        });
}
</script>
}