@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
   <link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
</head>
<div class="c_eval">
   <div id="bg">
      <img src="../Images/dem2.jpg" alt="">
   </div>
   <div class="col-md-12">
       <div class="eval_head">
      <h2>Evaluation Criteria</h2>
      </div>
   </div>

  
      <div class="candidate_evaluation role_cri eval_cri">
         <form id="candidate_pr" class="form-horizontal" action="/" method="POST" onsubmit="submitForm();return false">
		    <div class="row">
		  <div class="col-md-6">
            <div class="form-group">
               <label class="control-label" for="role">Job Role:</label>
               <select class="form-control" id="role">
                  <option selected>Select Job Role</option>
                  <option>Vp</option>
                  <option>Project Manager</option>
                  <option>Tech Lead</option>
                  <option>4</option>
               </select>
            </div>
			</div>
			 <div class="col-md-6">
            <div class="form-group">
               <label class="control-label" for="position">Position:</label>
               <input type="text" class="form-control" id="position" placeholder="Enter Position" required>
            </div>
			</div>
			</div>
			   <div class="row">
			 <div class="col-md-12">
            <div class="form-group">
               <label class="control-label" for="eval_cri">Evalution Criteria:</label>
               <label class="checkbox-inline"><input type="checkbox" value="">Team Work</label>
               <label class="checkbox-inline"><input type="checkbox" value="">Synergy</label>
               <label class="checkbox-inline"><input type="checkbox" value="">Others</label>
            </div>
			</div>
			</div>
			   <div class="row">
			 <div class="col-md-12">
            <div class="form-group">
               <label class="control-label" for="Compensation">Job Description:</label>
               <textarea name="" id="jd" rows="10" columns="150" class="form-control" required></textarea>
            </div>
			 </div>
			  <div class="col-md-12">
            <div class="form-group">
               <label class="control-label" for="priority">Priority:</label>
               <select class="form-control" id="priority">
                  <option selected>Select Priority</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
               </select>
            </div>
			</div>
			</div>
			 <div class="col-md-12">
            <div class="sub-btn">
               <button type="submit" id='submitButton' class="btn btn-primary">Create</button>
            </div>
			</div>
         </form>
      </div>
      <div class="custom_table">
         <table class="table table-bordered">
            <thead>
               <tr>
                  <th>Role</th>
                  <th>Position</th>
                  <th>Compensations</th>
                  <th>Job Description</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Software Developer</td>
                  <td>Senior</td>
                  <td>tbd</td>
                  <td>This is a dummy content</td>
                  <td>Passed</td>
               </tr>
            </tbody>
         </table>
      </div>
  
</div>