@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


	<head>
		<link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
	</head>
	<body>
<div class="c_eval">
   <div class="col-md-12">
      <h2>Candidate Evaluation</h2>
   </div>
   <div class="col-md-12">
      <div class="candidate_evaluation">
         <div class="form-group">
            <label class="control-label" for="c_name">Candidate Name:</label>
            <p id="cname"></p>
         </div>
         <div class="form-group">
            <label class="control-label" for="role">Role:</label>
            <p id="role"></p>
         </div>
      </div>
      <div class="custom_table">
         <form id="candidate_pr" class="form-horizontal" action="/" method="POST" onsubmit="submitForm();return false">
            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th>Evaluation Criteria</th>
                     <th>Description</th>
                     <th>Rating</th>
                     <th>Comments</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td id="teamsk"></td>
                     <td id="desc"></td>
                     <td>
<select id="ratings" required class="form-control"></select>   
                     </td>
                     <td>
                        <textarea name="" id="comment" rows="5" class="form-control" required></textarea>
                     </td>
                  </tr>

               </tbody>

            </table>
							                 <div class="sub-btn">
                  <button type="submit" id='submitButton' class="btn btn-primary">Save</button>
               </div>
         </form>
      </div>
   </div>   
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script> 
<script>
      
function submitForm(){
var can_name = $('#c_name').val();
var txtarea= $('#txtarea').val();
var select_rating= $('#select_rating').val();
}
 
    </script>
    <script>
const txt = '{"name":"Ashima Sharma", "role":"Project Manager", "evaluation_criteria":"Team Skills", "desc":"Perfect fit for the job position", "comment": "This is a dummy comment" }'
const obj = JSON.parse(txt);
document.getElementById("cname").innerHTML = obj.name;
document.getElementById("role").innerHTML = obj.role;
document.getElementById("teamsk").innerHTML = obj.evaluation_criteria;
document.getElementById("desc").innerHTML = obj.desc;
document.getElementById("comment").innerHTML = obj.comment;

  var jsonData = {
      "Table": [{
          "ratingid": "0",
          "rating": "1"
      }, {
          "ratingid": "1",
          "rating": "2"
      }, {
          "ratingid": "2",
          "rating": "3"
      }, {
          "ratingid": "3",
          "rating": "4"
      }, {
          "ratingid": "4",
          "rating": "5"
      }]
  };
 
     $(document).ready(function () {
         var listItems = '<option selected="selected" value="0">- Select Rating -</option>';
 
      for (var i = 0; i < jsonData.Table.length; i++) {
             listItems += "<option value='" + jsonData.Table[i].ratingid + "'>" + jsonData.Table[i].rating + "</option>";
         }
 
         $("#ratings").html(listItems);
     });
</script>
</body>
