@using System.Security.Claims;

 @{
    var l_roles = ((ClaimsIdentity)User.Identity).Claims
            .Where(x => x.Type == ClaimTypes.Role)
            .Select(y => y.Value);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HireHub - Hire at ease</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HRAnalytics.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/fc-4.1.0/fh-3.2.3/r-2.3.0/datatables.min.css"/>
     <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    

  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3"> 
            <div class="container-fluid">
                <div class="app_logo">  
                <a class="navbar-brand" asp-area="" asp-controller="Homepage" asp-action="Index"><img src="../Images/hirehub-logo.png" alt=""></a></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">  
                       
                        @if(l_roles.Contains("HR"))
                        {
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="RoleCriteria" asp-action="Index">Set Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="EvaluationCriteria" asp-action="Index">Set Criteria</a>
                            </li>

                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Candidate" asp-action="Index">Schedule Interview</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="elements" onclick="$('#drp').toggle();" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">Prioritize</a>
                                <div class="dropdown-menu dropdown-primary pb-0" id="drp" aria-labelledby="elements">
                                  <a class="dropdown-item " asp-area="" asp-controller="Priority" asp-action="Index">Roles</a>
                                  <a class="dropdown-item " asp-area="" asp-controller="Priority" asp-action="Criteria"> Criteria</a>
                                </div>
                              </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                                </li>

                              <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="GlobalScore" asp-action="Index">View Results</a>
                            </li>
                                                          <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </li>
                        }
                       
                    </ul>
                     <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <partial name="_partialLoader" />  
    <div class="margin-none">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position:absolute !important;">  
        <div class="container">  
            &copy; 2022 - HireHub - <!--<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/fc-4.1.0/fh-3.2.3/r-2.3.0/datatables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Common.js" asp-append-version="true"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
        <script>
            function myFunction() {
  var x = document.getElementById("drp");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
<script>

    $('.can_close .close').click(function(){ 
     $(".alert").css("display", "none");});
         $('.error_msg .alert .close').click(function(){
     $(".alert").css("display", "none");});
              $('.alert-dismissible .close').click(function(){ 
     $(".alert").css("display", "none");}); 


</script>
</body>
</html>
