
<head>
		<link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
	</head>

<div class="c_eval">
   <div class="col-md-12"> 
       <div class="eval_head"> 
      <h2>Admin</h2> 
     </div>
   </div>
 <div class="confirmation-message">

      </div>
      <div class="row">
    <div class="col-md-12">
<div class="admin_table custom_table table-responsive">  
<table class="table table-bordered">
     <thead>
        <tr>
            <th>Action</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="button" class="btn_Save" value = "Create" onclick="SaveData('SAVEAHPPAIR')"/></td>
            <td>Generate pair-wise combinations of job roles and criterias (AHP Pairs)</td>
        </tr>
        <tr>
            <td><input type="button" class="btn_Save" value = "Calculate" onclick="SaveData('SAVEAHPSCORES')"/></td>
            <td>Priority Weightage Calculation (AHP weights)</td>
        </tr>
        <tr>
            <td><input type="button" class="btn_Save" value = "Optimize" onclick="SaveData('CALCULATERESULTS')"/></td>
            <td>Candidate Ranking and optimization (TOPSIS and MIP)</td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
</div>



@section Scripts{
    <script type="text/javascript" src="~/js/Admin.js"></script>

    <script type="text/javascript">
         var URLConstants = {};

        URLConstants["ProcessData"] = '@Url.Action("ProcessData", "Admin")';
        
    </script>
    
}