
<head>
   
    <link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
</head>

<div class="c_eval">
<div id="bg">
<img src="../Images/dem2.jpg" alt="">   
</div>

<div class="range_parent">
<div class="container"> 
       <div class="eval_head">  
      <h2>Set Job Priority</h2> 
      </div>
      
      <div id="div_slidersection">

      </div>

      <input type="button" class="btn_Save" value = "Save" onclick="SaveWeightage(1)"/>
      
</div> 
</div>
</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/Slider.js"></script>

    <script type="text/javascript">
         var URLConstants = {};

        URLConstants["GetAHPJobPairs"] = '@Url.Action("GetAHPJobPairs", "Priority")';
        URLConstants["SaveAHPRatings"] = '@Url.Action("SaveAHPRatings", "Priority")';

        $(document).ready(function () {
            loadCombinations();
        });
        
    </script>
    
}









