
<head>
   
    <link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />

</head>

<div class="c_eval">
<div id="bg">
<img src="../Images/dem2.jpg" alt="">   
</div>

<div class="range_parent">
<div class="container"> 
       <div class="eval_head">  
      <h2>Set Job Priority</h2> 
      </div>
      <div class="confirmation-message">

      </div>
      <div id="div_slidersection">

      </div>
      <div class="priority_btn">
      <input type="button" class="btn_Save" value = "Save" onclick="SaveWeightage(1)"/>
        <input type="button" value="Next" onclick="window.location.href='@Url.Action("Criteria", "Priority")';" />
      </div>


    
      

</div> 
</div>
</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script type="text/javascript" src="~/js/Slider.js"></script>

    <script type="text/javascript">
         var URLConstants = {};

        URLConstants["GetAHPJobPairs"] = '@Url.Action("GetAHPJobPairs", "Priority")';
        URLConstants["SaveAHPRatings"] = '@Url.Action("SaveAHPRatings", "Priority")';

        $(document).ready(function () {
            loadCombinations();
        });
        
    </script>
    
}









