@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
   
    <link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
</head>


<div class="c_eval">
<div id="bg">
<img src="../Images/dem2.jpg" alt=""> 
</div>
<div class="range_parent">
           <div class="eval_head">
      <h2>Set Priority</h2>
      </div>
<div class="container"> 
<form>
    <div data-role="rangeslider">
        <label for="range-10a">Job Role 1<span>Job Role 2</span></label> 
        <input type="range" name="range-10a" id="range-10a" min="0" max="10" step="1" value="1">
        <input type="range" name="range-10b" id="range-10b" min="0" max="10" step="1" value="10">
    </div>
</form>
</div>
</div>
</div>






<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>