@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<CandidateViewModel>
<link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
<!--<div id="bg">
    <img src="../Images/dem2.jpg" alt="">
</div>-->

<div class="confirmation-message">

</div>

<div class="interviewer_table">
    <div class="container">
        <div class="custom_table table-responsive"> 
        <table id="tbl_Candidates" class="table table-bordered"> 
            <thead>
                <tr>
                    <th>Candidate Name</th>
                    <th>Interview Schedule</th>
                    <th>Job Name</th>
                    <th>Status</th> 
                </tr>
            </thead>
            <tbody>
                @if (Model!= null && Model.Count > 0)
                {
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(role.CandidateName,"Candidate","Candidate",new { argScheduleID = role.ScheduleID},new {target = "_blank"})</td>
                            <td>@role.InterviewSchedule</td>
                            <td>@role.JobName</td>
                            <td>@role.Status</td>
                        </tr>
                    }
                }
                else
                {
                <td colspan="3">No Candidates created</td>
            }
                </tbody> 
            </table> 
            </div>

    </div> 
</div>

@section scripts
{
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/fc-4.1.0/fh-3.2.3/r-2.3.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/fc-4.1.0/fh-3.2.3/r-2.3.0/datatables.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        initialiseDataTable();
    })
    function initialiseDataTable() {
        $('#tbl_Candidates').DataTable({
            responsive: true
        });
}
</script>
}

