@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
		<link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
</head>
	
<div class="homepage">
   <div class="home_wrap">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="login-logo">  
                  <img src="../Images/hirehub-logo.png" alt="">         
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="left_content">
                  <h1>Hiring made easier</h1>
                  <p>Hirehub's usage of Data Analytics for final decision making during the hiring process allows you to establish your new team for your small or medium business in a single click.</p>
                  <div class="right_content">
                     <a href="/Identity/Account/Login">Login</a>
                     <a href="/Identity/Account/Register" class="reg">Register</a>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="right_content">
                  <div class="right_back">
                     <img src="../Images/back-g.png" alt="Hiring background"> 
                                       <div class="right_back_content">
                     <ul>
                        <li>Reduce HR's workload and find the best candidates faster.</li>
                        <li>Schedule interviews instantly.</li>
                        <li>Secured  Applicant Data Storage.</li>
                        <li>Affordable pricing with quick sign up.</li> 
                     </ul>
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="centralised">
      <div class="row">
         <h2>One centralized platform designed to make<br> your hiring easier</h2>
         <div class="col-sm-6 col-md-3">
            <div class="centra_content">
               <img src="../Images/icon1.jpg" alt=""> 
               <p>Reduce Time to Hire</p>
            </div>
         </div>
         <div class="col-sm-6 col-md-3">
            <div class="centra_content">
               <img src="../Images/icon2.jpg" alt=""> 
               <p>Lower Your Costs</p>
            </div>
         </div>
         <div class="col-sm-6 col-md-3">
            <div class="centra_content">
               <img src="../Images/icon3.jpg" alt=""> 
               <p>Hire Better People</p>
            </div>
         </div>
         <div class="col-sm-6 col-md-3">
            <div class="centra_content">
               <img src="../Images/icon4.jpg" alt=""> 
               <p>Complete GDPR Confidence</p>
            </div>
         </div>
      </div>
   </div>
   <div class="pricing">
      <div class="container">
         <h1>Plans & Pricing</h1>
         <div class="row">
            <div class="col-sm-4 col-md-4">
               <div class="home_panel1">
                  <h3>Standard</h3>
                  <h2>&euro; 300</h2>
                  <p>/subscription/billed monthly</p>
                  <h4>1 Month Validity</h4>
               </div>
            </div>
            <div class="col-sm-4 col-md-4">
               <div class="home_panel2">
                  <h3>Professional</h3>
                  <h2>&euro; 3000</h2>
                  <p>/subscription/billed annualy</p>
                  <h4>1 Year Validity</h4>
               </div>
            </div>
            <div class="col-sm-4 col-md-4">
               <div class="home_panel3">
                  <h3>Renewal</h3>
                  <h2>&euro; 1500</h2>
                  <p>/subscription/billed annually</p>
                  <h4>1 Year Validity</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12">
      <div class="home_closing">
         <p>Discover the next generation of Hiring with Hire Hub.</p> 
      </div>
   </div>
</div>
