@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
		<link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
</head>
	
<div class="homepage">

<div id="bg">
<img src="/Images/dem2.jpg" alt=""> 
</div>

<div class="row">
	<div class="col-md-12">
	<div class="login-logo">   
    <img src="/Images/hirehub-logo.png" alt="">          
    </div> 
	</div>
</div>
<div class="row">
	<div class="col-md-7">
		<div class="left_content">
			<p>With the use of Data Analytics for the final decision making during hiring process, Hirehub lets you form your new team for your small or medium business in a click.</p>
			<ul>
				<li>Reduce HR's workload and find the best candidates faster.</li>
				<li>Schedule interviews instantly.</li>
				<li>Secured  Applicant Data Storage.</li>
				<li>Affordable pricing with quick sign up.</li>
			</ul>
			<h1>Pricing</h1>
		<div class="row">
			<div class="col-md-4">
				<div class="home_panel1">
					<h3>Standard</h3>
					<h2>&euro; 300</h2>
					<p>/subscription/billed monthly</p>
					<h4>1 Month Validity</h4>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home_panel2">
					<h3>Professional</h3>
					<h2>&euro; 3000</h2>
					<p>/subscription/billed annualy</p>
					<h4>1 Year Validity</h4>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home_panel3">
					<h3>Renewal</h3>
					<h2>&euro; 1500</h2>
					<p>/subscription/billed annualy</p>
					<h4>1 Year Validity</h4>
				</div>
			</div>
		</div>
		</div>
	</div>

	<div class="col-md-5">
		<div class="right_content">
			<a href="/Identity/Account/Login">Login</a>
			<p>OR</p>
			<a href="Identity/Account/Register">Register</a>
		</div>
	</div>
		<div class="col-md-12">
		<div class="home_closing">
			<p>Discover the next generation of Hiring with Hire Hub.</p>
		</div>
	</div>
</div>

</div>